<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
      
        Overview &middot; Dashboard theme &middot; Official Bootstrap Themes
      
    </title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='css/toolkit-inverse.css') }}" rel="stylesheet">
     <link href="{{ url_for('static', filename='css/application.css') }}" rel="stylesheet">
    
    
    <link href="assets/css/application.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/tether.js')}}"></script>
    <script src="{{ url_for('static', filename='js/chart.js')}}"></script>
    <script src="{{ url_for('static', filename='js/tablesorter.js')}}"></script>
    <script src="{{ url_for('static', filename='js/toolkit.js')}}"></script>
    <script src="{{ url_for('static', filename='js/echart.js')}}"></script>
    <script src="{{ url_for('static', filename='js/application.js')}}"></script>
    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>
  </head>


<body>
  <div class="bw">
    <div class="di">
      <div class="em brh">
        <nav class="bro">
          <div class="bri">
            <button class="bqe bqg brj" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
              <span class="aep">Toggle nav</span>
            </button>
            <a class="brk bsi" href="index.html">
              <span class="bv bik brl"></span>
            </a>
          </div>

          <div class="collapse bql" id="nav-toggleable-md">
            <form class="brm">
              <input class="form-control" type="text" placeholder="Search...">
              <button type="submit" class="po">
                <span class="bv bje"></span>
              </button>
            </form>
            <ul class="nav qq nav-stacked xx">
              <li class="ayx">Dashboards</li>
              <li class="qp">
                <a class="qn active" href="{{ url_for('.index') }}">Overview</a>
              </li>
              <li class="qp">
                <a class="qn " href="{{ url_for('.user_sumary') }}">User Sumary</a>
              </li>
              <li class="qp">
                <a class="qn "href="fluid/index.html">Fluid layout</a>
              </li>
              <li class="qp">
                <a class="qn " href="icon-nav/index.html">Icon nav</a>
              </li>

              <li class="ayx">More</li>
              <li class="qp">
                <a class="qn "href="docs/index.html">
                  Toolkit docs
                </a>
              </li>
              <li class="qp">
                <a class="qn" href="http://getbootstrap.com" target="blank">
                  Bootstrap docs
                </a>
              </li>
              <li class="qp">
                <a class="qn " href="index-light/index.html">Light UI</a>
              </li>
              <li class="qp">
                <a class="qn" href="#docsModal" data-toggle="modal">
                  Example modal
                </a>
              </li>
            </ul>
            <hr class="bsj afx">
          </div>
        </nav>
      </div>
      <div class="es bsk">
        <div class="brv">
  <div class="brw">
    <h6 class="bry">Dashboards</h6>
    <h2 class="brx">Crazy Bet</h2>
  </div>

  <div class="qb brz">
    <div class="ayt brg">
      <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
      <span class="bv bck"></span>
    </div>
  </div>
</div>

<hr class="afx">

{% block wheel %}

{% endblock %}

<div class="brc agl afz">
  <h3 class="brd bre">Quick stats</h3>
</div>

<div class="di bsl">
  {% block square %}
  {% endblock %}
</div>

<hr class="agl">

<div class="di">
  <div class="ep agn">
    <div class="by afz">
      <h6 class="azi">
        Countries
      </h6>
      
        {% for _ in range(2) %}
        <a class="rp tr yg" href="#">
          <span class="azj" style="width: 62.4%;"></span>
          United States
          <span class="bso axn">62.4%</span>
        </a>
        {% endfor %}
    
      
    </div>
    <a href="#" class="ce pi ahr">All countries</a>
  </div>
  <div class="ep agn">
    <div class="by afz">
      <h6 class="azi">
        Most visited pages
      </h6>
      
        {% for _ in range(4) %}
        <a class="rp tr yg" href="#">
          <span>/ (Logged out)</span>
          <span class="bsp axn">3,929,481</span>
        </a>
        {% endfor %}
    
      
    </div>
    <a href="#" class="ce pi ahr">View all pages</a>
  </div>
</div>

<div class="by afz">
  <h6 class="azi">
    Devices and resolutions
  </h6>
  
    {% for _ in range(3) %}
    <a class="rp tr yg" href="#">
      <span>Desktop (1920x1080)</span>
      <span class="axn">3,929,481</span>
    </a>
    {% endfor %}

  
</div>
<a href="#" class="ce pi ahr">View all devices</a>

      </div>
    </div>
  </div>

  <div id="docsModal" class="cb fade" tabindex="-1" role="dialog" aria-labelledby="bsq">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="uf">
        <h4 class="modal-title" id="myModalLabel">Example modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>You're looking at an example modal in the dashboard theme.</p>
      </div>
      <div class="ug">
        <button type="button" class="ce pb" data-dismiss="modal">Cool, got it!</button>
      </div>
    </div>
  </div>
</div>


    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/tether.min.js"></script>
    <script src="assets/js/chart.js"></script>
    <script src="assets/js/tablesorter.min.js"></script>
    <script src="assets/js/toolkit.js"></script>
    <script src="assets/js/application.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
  </body>
</html>


